<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuan.mapper.SysUserMapper">

    <select id="selectByUsername" resultType="com.xuan.entity.SysUser">
        SELECT *
        FROM sys_user
        WHERE username = #{username}
        LIMIT 1
    </select>

    <select id="selectByEmail" resultType="com.xuan.entity.SysUser">
        SELECT *
        FROM sys_user
        WHERE email = #{email}
        LIMIT 1
    </select>

    <select id="selectByOAuth" resultType="com.xuan.entity.SysUser">
        SELECT *
        FROM sys_user
        WHERE oauth_provider = #{oauthProvider}
          AND oauth_id = #{oauthId}
        LIMIT 1
    </select>

</mapper>
